<%= simple_form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @question.errors.messages.each do |field, messages| %>
        <% messages.each do |message| %>
          <li><%= t("labels.question.#{field}") %><%= message %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :title, label: t("labels.question.title"), input_html: {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :content, label: t("labels.question.content"), input_html: {class: 'form-control', rows: '10'} %>
  </div>

  <div class='form-actions'>
    <%= f.button :submit, class: "btn btn-default" %>
    <%= link_to '목록보기', questions_path, class: "btn btn-default" %>
  </div>

<% end %>
