<h2><%= @question.title %></h2>
<div class="question-content"><%= simple_format @question.content %></div>
<div class="question-questioner">
  by <%= account_with_tooltip @question.questioner %>
  <%= hit_count @question.impressionist_count %>
</div>

<%= link_to '목록보기', questions_path, class: 'btn btn-default' %>
<% if @question.is_owner?(current_user) %>
  <%= link_to '수정', edit_question_path(@question), class: 'btn btn-default' %>
  <%= link_to '삭제', @question, method: :delete, data: {confirm: "삭제하시겠습니까?"}, class: 'btn btn-danger' %>
<% end %>

<hr />

<h4>답변 목록</h4>

<table class="table">
  <tbody id="q_<%=@question.id %>_answers" >
    <%= render @question.answers  %>
  </tbody>
</table>

<%= render 'answers/form' if user_signed_in? %>
