<p id="notice"><%= notice %></p>

<h2><%= @question.title %></h2>
<p class="question-content"><%= @question.content %></p>
<p><%= @question.questioner %></p>

<%= link_to '목록보기', questions_path, class: 'btn btn-default' %>
<% if @question.is_owner?(current_user) %>
  <%= link_to '수정', edit_question_path(@question), class: 'btn btn-default' %>
  <%= link_to '삭제', @question, method: :delete, data: {confirm: "삭제하시겠습니까?"}, class: 'btn btn-danger' %>
<% end %>

<hr />

<h4>답변 목록</h4>

<table class="table table-hover">
  <tbody>
    <% @question.answers.each do |answer| %>
      <tr class="answer-<%= answer.id %>">
        <td>
          <% if answer.is_owner?(current_user) %>
            <%= link_to answer.content, question_answer_path(@question, answer) %>
          <% else %>
            <%= answer.content %>
          <% end %>
        </td>
        <td><%= answer.answerer %></td>
        <td><%= distance_of_time_in_words_to_now(answer.created_at) %> 전</td>
        <td>
          <% if answer.is_owner?(current_user) %>
            <%= link_to '삭제', question_answer_path(@question, answer), method: :delete, data: {confirm: "삭제하시겠습니까?"}, class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '답변등록', new_question_answer_path(@question), class: 'btn btn-default' %>

