<p id="notice"><%= notice %></p>

<p>질문 : <%= @question.title %></p>
<p>내용 : <%= @question.content %></p>

<% @question.answers.each do |answer| %>
  <p><%= link_to answer.content, question_answer_path(@question, answer) %></p>
<% end %>

<%= link_to '답변등록', new_question_answer_path(@question), class: 'btn btn-default' %>

<hr />

<%= link_to '목록보기', questions_path, class: 'btn btn-default' %>
<% if current_user == @question.user %>
  <%= link_to '수정', edit_question_path(@question), class: 'btn btn-default' %>
  <%= link_to '삭제', @question, method: :delete, data: {confirm: "삭제하시겠습니까?"}, class: 'btn btn-danger' %>
<% end %>
