<h2 class="page_title">루비와 레일스 웹서비스</h2>

<div class='card table-responsive'>
  <table class='table table-bordered'>
    <tr>
      <th class='text-right col-xs-2'><%= t('activerecord.attributes.website.name') %></th>
      <td><strong style="color:red;"><%= website.name %></strong></td>
    </tr>

    <tr>
      <th class='text-right'><%= t('activerecord.attributes.website.site_url') %></th>
      <td><%= link_to website.site_url, website.site_url, target: '_blank' %></td>
    </tr>

    <tr>
      <th class='text-right'><%= t('activerecord.attributes.website.service_state') %></th>
      <td><%= website.service_state %></td>
    </tr>

    <tr>
      <th class='text-right'><%= t('activerecord.attributes.website.service_type') %></th>
      <td><%= website.service_type %></td>
    </tr>

    <tr>
      <th class='text-right'><%= t('activerecord.attributes.website.memo') %></th>
      <td><%= simple_format website.memo %></td>
    </tr>

    <tr>
      <th class='text-right'><%= t('activerecord.attributes.website.user') %></th>
      <td><%= website.user.email %></td>
    </tr>
  </table>
</div>
