<div class='bottom_menu'>

<div class='row'>
  <div class='col-md-3'>
    <div style="overflow:auto;">
      <%= image_tag 'rorlab_logo_158x158.png', height: 75, style:'float:left;margin-right:1em;' %>
      <p>루비/루비온레일스를 위한 커뮤니티. </p>
      <p>since 2011</p>
    </div>
    <div class='py-3 mb-3'>
      <%= link_to fas_icon_text('users', 'Contributors'), contributors_path, class: 'btn btn-primary btn-lg btn-block py-4' %>
    </div>
  </div>
  <div class='col-md-3'>
    <div class='menu_title'><%= fas_icon_text "bullhorn", "최근 공지 및 새소식" %></div>
    <ul class='section'>
    <% @news = Post.where(bulletin_id: [ 1, 2]).recent %>
    <% @news.each do | post | %>
      <li><%= link_to post.title, bulletin_post_path(post.bulletin, post) %>
      <small title='<%= post.created_at %>' data-toggle="tooltip" class='text-muted'><%= time_ago_in_words(post.created_at) %>전 작성</small></li>
    <% end %>
    </ul>
  </div>

  <div class='col-md-6'>
    <div class='row'>
      <div class='col-md-4 col-sm-4'>
        <div class='menu_title'><%= far_icon_text "calendar", "행사 및 일정" %></div>
        <ul class='section'>
          <% Schedule.all.order(id: :desc).limit(5).each do | schedule | %>
            <li><%= link_to schedule.name, schedule %></li>
          <% end %>
        </ul>
      </div>

      <div class='col-md-4 col-sm-4'>
        <div class='menu_title'><%= fas_icon_text "archive", "한글 및 문서화" %></div>
        <ul class='section'>
          <li><%= link_to '레일스가이드', 'http://guides.rorlab.org', target: '_blank' %></li>
          <li><%= link_to '초레가', 'https://www.railsguidebook.com/', target: '_blank' %></li>
          <li><%= link_to 'Railscasts', 'http://railscasts.com', target: '_blank' %></li>
          <li><%= link_to 'GoRails', 'https://gorails.com/', target: '_blank' %></li>
          <li><%= link_to 'Ruby Screencasts', 'https://www.driftingruby.com', target: '_blank' %></li>
          <li><%= link_to 'Ruby on Rails Tutorial', 'https://www.railstutorial.org/', target:'_blank' %></li>
        </ul>
      </div>

      <div class='col-md-4 col-sm-4'>
        <div class='menu_title'><%= fas_icon_text 'info-circle', '도움말' %></div>
        <ul class='section'>
          <li><%= link_to '소개말', about_path %></li>
          <li><%= link_to '웹사이트 사용법', howto_path %></li>
          <li><%= link_to '홈페이지 오류보고', "#" %></li>
          <li><%= link_to '개인정보보호', security_path %></li>
          <li><%= link_to '저작권보호', copyright_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>
