<div class="card">
  <div class="card-body">
    <div class="media">
      <%= link_to image_tag("youtube_channel.png", size: '107x140', class: 'mr-2'), "http://youtube.com/user/rorlabkr" %>
      <div class="media-body">
        <h4 class="media-heading">RORLab. 강의동영상 모음 Youtube Channel</h4>
        현재까지 RORLab.에서 진행되었던 강의동영상과 관련 동영상을 유튜브 채널로 재구성하였습니다.<hr>
        <div class='row'>
          <div class='col-md-6'>
            <ul>
              <li><%= link_to '시즌 1, Rails Guide', 'http://www.youtube.com/playlist?list=PLfFG7L-h1FSpOG7duwhp4q9ThZEzELLZ5' %></li>
              <li><%= link_to '시즌 2, Rails Guide', 'http://www.youtube.com/playlist?list=PLfFG7L-h1FSpSXaU-r0UVhW1efcwZl1g-' %></li>
              <li><%= link_to '시즌 3, Rails Guide', 'http://www.youtube.com/playlist?list=PLfFG7L-h1FSpwVKSLYtOUriFa7L3mPs6t' %></li>
              <li><%= link_to '시즌 4, Rails Guide', 'http://www.youtube.com/playlist?list=PLfFG7L-h1FSrotpAplTzHMKh_LnuT5pGX' %></li>
            </ul>
          </div>
          <div class='col-md-6'>
            <ul>
              <li><%= link_to 'AGAIN2011', 'https://www.youtube.com/playlist?list=PLfFG7L-h1FSq5jhEsDgL9txyglgEZLltq' %></li>
              <li><%= link_to 'Digging Deeper (시즌 4)', 'http://www.youtube.com/playlist?list=PLfFG7L-h1FSpR6rjK-oFnRqOK00A-romg' %></li>
              <li><%= link_to 'Live Coding', 'http://www.youtube.com/playlist?list=PLfFG7L-h1FSrTRMJP-uEVesVIE75pv7d4' %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
