<div class="jumbotron">
  <div class="container">
    <h2>
      RORLAB에 오신 것을 환영합니다.<br />
      <small>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-danger btn-sm label label-danger">Ruby</button>
          <button type="button" class="btn btn-info btn-sm label label-secondary">v<%= RUBY_VERSION %></button>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-danger btn-sm label label-danger">Rails</button>
          <button type="button" class="btn btn-info btn-sm label label-secondary">v<%= Rails::VERSION::STRING %></button>
        </div>
      </small>
    </h2>
    <p>: Ruby on Rails Korean Study Group with Free Offline Lectures</p>
    <hr style="border:1px solid #850000;">
      <% if user_signed_in? %>
        <p>Hello, <em><%= current_user.account_name.capitalize! %></em></p>
        <%= link_to fas_icon("sign-out-alt", text: "로그아웃"), destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to fas_icon("sign-in-alt", text: "로그인"), new_user_session_path, class: 'btn btn-primary' %>
        <%= link_to fas_icon("users", text: "회원가입"), new_user_registration_path, class: 'btn btn-success d-none d-sm-inline-block ' %>
      <% end %>
      <%= link_to fas_icon("search", text: "용어집검색"), glossaries_path, class: 'btn btn-success float-right' %>
  </div>
</div>