<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <h3>대상 글</h3>
      <div class='panel panel-default'>
        <div class="panel-heading">
          <strong><%=t @comment.commentable.class.model_name.human %></strong>
        </div>
        <div class="panel-body">
          <%= render @comment.commentable %>
        </div>
        <div class="panel-footer">
          <%= link_to "웹사이트로 이동하기", @comment.commentable %>
        </div>
      </div>

      <h3>댓글 등록 알림</h3>
      <div class='panel panel-default'>
        <div class="panel-body">
          <%= @comment.content %>
        </div>
        <div class="panel-footer">
          <%= @comment.writer.email %>님이 작성하셨습니다.
        </div>
      </div>


      <hr>
      <p>RORLAB 담당자<br /><%= link_to "http://rorlab.org", "http://rorlab.org" %></p>
      <%= image_tag "rorlab_emblem.png", width: '150px' %>
      
    </div>
  </body>
</html>
