<%= f.input :tag_tokens, placeholder: '여러 개의 태그는 쉼표(,)로 구분하세요.',
            input_html: { data: { load: @glossary.tag_tokens }, class: 'form-control'} %>
<div class="form-group">
  <div class='disabled text-right text-muted'><em>added by <%= current_user.email %></em></div>
</div>
<%= button_tag f, type: 'submit', class: 'btn btn-primary' do %>
  <%= far_icon_text('save', '등록') %>
<% end %>
<%= link_to fas_icon_text('ban', "취소"), '#', id: 'cancel_tag_link', class: 'ml-2 btn btn-danger' %>
