<%= f.input :definition %>
<%= f.input :sentence %>
<div class="form-group">
  <div class='disabled text-right text-muted'><em>created by <%= f.object.user.try(:email) || current_user.email %></em></div>
</div>
<%= button_tag f, type: 'submit', class: 'btn btn-primary' do %>
  <%= far_icon_text('save', 'ë“±ë¡') %>
<% end %>
<%= link_to fas_icon_text('ban', "ì·¨ì†Œ"), '#', id: 'cancel_definition_link', class: 'ml-2 btn btn-danger' %>
