<% @glossary.glossary_definitions.build(user: current_user)%>
<%= simple_form_for(@glossary) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-inputs">
        <%= f.input :term %>
        <%= f.input :tag_tokens, placeholder: '여러 개의 태그는 쉼표(,)로 구분하세요.',
                    input_html: { data: { load: @glossary.tag_tokens }, class: 'form-control'} %>
        <%= f.input :word_class, collection: enum_option_pairs(Glossary, :word_class) %>
        <%= f.input :idiomatic %>
        <%= f.input :memo, input_html: { rows: 5 } %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="glossary_definitions">
        <%= f.simple_fields_for :glossary_definitions do | ff | %>
          <%= render 'glossary_definition', f: ff %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t('form_actions.show'), @glossary, class: 'btn btn-default' if @glossary.persisted? %>
    <%= link_to t('form_actions.back'), glossaries_path, class: 'btn btn-default' %>
    <%= link_to_add_association "정의 추가", f, :glossary_definitions, partial: 'glossary_definition',  'data-association-insertion-node': '.glossary_definitions', "data-association-insertion-method": 'append', class: 'btn btn-primary pull-right' %>
  </div>
<% end %>
