<div class="task_fields">
  <%= f.hidden_field :user_id, value: current_user.id if f.object.new_record? %>
  <%= f.input :definition %>
  <%= f.input :sentence, input_html: { rows: 5 } %>
  <div class="form-group">
    <div class='disabled text-right text-muted'><em>created by <%= f.object.user.try(:email) %></em></div>
  </div>
  <div class='remove'>
    <%= link_to_remove_association awesome_icon_label('trash-o', t('form_actions.delete')), f, wrapper_class: 'task_fields',  class: 'btn btn-danger' %>
  </div>
</div>
