<h2 class="page_title">
  Ruby & Rails 용어집
  <small>
    <%= @glossaries_total.size %>
    <% if params[:tag].present? %>
      <%= "tagged with <span class='badge badge-default'>#{params[:tag]}</span>".html_safe  %>
      <%= link_to awesome_icon('times-circle'), url_for %>
    <% end %>

  </small>
</h2>

<%= form_tag glossaries_path, :method => 'get' do %>
<div id="custom-search-input" style="margin-bottom:1.5em;">
  <div class="input-group col-md-6 col-md-push-3">
    <input type="text" name="search" class="form-control input-lg" placeholder="용어를 입력한 후 엔터키를 누르세요." value="<%= params[:search] %>" />
    <span class="input-group-btn">
      <button class="btn btn-success btn-lg" type="button">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </span>
  </div>
</div>
<% end %>

<div class='alphabet_box'>
  <%= link_to "A", glossaries_path(search: "A"), class: 'btn btn-default' %>
  <%= link_to "B", glossaries_path(search: "B"), class: 'btn btn-default' %>
  <%= link_to "C", glossaries_path(search: "C"), class: 'btn btn-default' %>
  <%= link_to "D", glossaries_path(search: "D"), class: 'btn btn-default' %>
  <%= link_to "E", glossaries_path(search: "E"), class: 'btn btn-default' %>
  <%= link_to "F", glossaries_path(search: "F"), class: 'btn btn-default' %>
  <%= link_to "G", glossaries_path(search: "G"), class: 'btn btn-default' %>
  <%= link_to "H", glossaries_path(search: "H"), class: 'btn btn-default' %>
  <%= link_to "I", glossaries_path(search: "I"), class: 'btn btn-default' %>
  <%= link_to "J", glossaries_path(search: "J"), class: 'btn btn-default' %>
  <%= link_to "K", glossaries_path(search: "K"), class: 'btn btn-default' %>
  <%= link_to "L", glossaries_path(search: "L"), class: 'btn btn-default' %>
  <%= link_to "M", glossaries_path(search: "M"), class: 'btn btn-default' %><br />
  <%= link_to "N", glossaries_path(search: "N"), class: 'btn btn-default' %>
  <%= link_to "O", glossaries_path(search: "O"), class: 'btn btn-default' %>
  <%= link_to "P", glossaries_path(search: "P"), class: 'btn btn-default' %>
  <%= link_to "Q", glossaries_path(search: "Q"), class: 'btn btn-default' %>
  <%= link_to "R", glossaries_path(search: "R"), class: 'btn btn-default' %>
  <%= link_to "S", glossaries_path(search: "S"), class: 'btn btn-default' %>
  <%= link_to "T", glossaries_path(search: "T"), class: 'btn btn-default' %>
  <%= link_to "U", glossaries_path(search: "U"), class: 'btn btn-default' %>
  <%= link_to "V", glossaries_path(search: "V"), class: 'btn btn-default' %>
  <%= link_to "W", glossaries_path(search: "W"), class: 'btn btn-default' %>
  <%= link_to "X", glossaries_path(search: "X"), class: 'btn btn-default' %>
  <%= link_to "Y", glossaries_path(search: "Y"), class: 'btn btn-default' %>
  <%= link_to "Z", glossaries_path(search: "Z"), class: 'btn btn-default' %>
</div>

<div class="panel panel-default table-responsive">
  <table id='glossaries_list' class='table table-bordered'>
    <thead>
      <tr>
        <th class='col-md-3 text-center'><%= t("activerecord.attributes.glossary.term") %></th>
        <th class='text-center'><%= t("activerecord.attributes.glossary_definition.definition") %></th>
        <th class='text-center'>업데이트</th>
        <th class='col-md-2 text-center'>데이터작업</th>
      </tr>
    </thead>

    <tbody>
      <% @glossaries.each do |glossary| %>
        <tr>
          <td><%= link_to glossary.term, glossary %> <small style="color: #ee4304;"><%= glossary.comments.size if glossary.comments.size > 0 %></small></td>
          <td>
            <ul class='definitions_horizontal_list'>
            <% glossary.glossary_definitions.sort{|x, y| y.cached_votes_up <=> x.cached_votes_up}.each_with_index do | definition, index| %>
              <li class="<%= index == 0 ? 'main' : 'sub'  %>"><%= "* " if index == 0 %><%= definition.definition %></li>
            <% end %>
            </ul>
          </td>
          <td class='text-center text-nowrap'><%= time_ago_in_words glossary.updated_at %>전</td>
          <td class='text-center'>
            <%= link_to icon_button('eye-open', :success), glossary %>
            <% if user_signed_in? && current_user.can_update?(glossary) %>
              <%= link_to icon_button('edit', :info), edit_glossary_path(glossary) %>
            <% end %>
            <% if user_signed_in? && current_user.can_delete?(glossary) %>
              <%= link_to icon_button('trash', :danger), glossary, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class='text-center'>
  <%= will_paginate @glossaries %>
</div>

<div class="form-actions">
  <%= link_to '용어추가', new_glossary_path, class: 'btn btn-default' %>

</div>
