<h2 class="page_title">
  Ruby & Rails 용어집
</h2>

<%= form_tag glossaries_path, :method => 'get' do %>
<div id="custom-search-input" style="margin-bottom:1.5em;">
  <div class="input-group col-md-6 col-md-push-3">
    <input type="text" name="search" class="form-control input-lg" placeholder="검색할 영어 단어를 입력하세요." value="<%= params[:search] %>" />
    <span class="input-group-btn">
      <button class="btn btn-success btn-lg" type="button">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </span>
  </div>
</div>
<% end %>


<div class="panel panel-default">
  <table id='glossaries_list' class='table table-bordered'>
    <thead>
      <tr>
        <th class='col-md-4 text-center'>Term</th>
        <th class='text-center'>Definitions</th>
        <th class='col-md-2 text-center'>데이터작업</th>
      </tr>
    </thead>

    <tbody>
      <% @glossaries.each do |glossary| %>
        <tr>
          <td><%= glossary.term %></td>
          <td><%= glossary.glossary_definitions.map(&:definition).join(', ')%></td>
          <td class='text-center'>
            <%= link_to icon_button('eye-open', :success), glossary %>
            <% if user_signed_in? && current_user.can_update?(glossary) %>
              <%= link_to icon_button('edit', :info), edit_glossary_path(glossary) %>
            <% end %>
            <% if user_signed_in? && current_user.can_delete?(glossary) %>
              <%= link_to icon_button('trash', :danger), glossary, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class='text-center'>
  <%= will_paginate @glossaries %>
</div>

<div class="form-actions">
  <%= link_to '용어추가', new_glossary_path, class: 'btn btn-default' %>

</div>
