<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=140309816373762";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h2 class="page_title">
  용어보기
</h2>

<div class="panel panel-default table-responsive">
  <table class='table table-bordered'>
  <tr>
    <th class='col-md-1 text-right'><%= t('activerecord.attributes.glossary.term') %></th>
    <td class='text-danger'>
      <%= @glossary.term %>
      <div class="fb-share-button pull-right" data-href="<%= glossary_url(@glossary) %>" data-layout="button" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= glossary_url(@glossary) %>"><%= awesome_icon_label 'facebook-official fa-lg', '공유하기' %></a></div>
    </td>
  </tr>
  <tr>
    <th class='text-right'>정의</th>
    <td id="glossary_<%= @glossary.id %>" style="position:relative;">
      <%= render "glossaries/glossary_definitions" %>
    </td>
  </tr>
  <tr>
    <th class='text-right'><%= t('activerecord.attributes.glossary.word_class') %></th>
    <td><%= @glossary.word_class %></td>
  </tr>
  <tr>
    <th class='text-right'><%= t('activerecord.attributes.glossary.idiomatic') %></th>
    <td><%= @glossary.idiomatic %></td>
  </tr>
  <tr>
    <th class='text-right'><%= t('activerecord.attributes.applier.memo') %></th>
    <td><%= @glossary.memo %></td>
  </tr>
  <tr>
    <th class='col-md-3 text-right'><%= t('activerecord.attributes.schedule.user') %></th>
    <td><%= @glossary.user.email %></td>
  </tr>
  </table>
</div>

<div class="form-actions">
  <%= link_to t('form_actions.edit'), edit_glossary_path(@glossary), class: 'btn btn-default' if user_signed_in? && current_user.can_update?(@glossary)%>
  <%= link_to t('form_actions.back'), glossaries_path, class: 'btn btn-default' %>
</div>

<!-- 댓글 위젯 -->
<%= render partial: "comments/comments_widget", locals: { resource: @glossary} %>

