<%= simple_form_for(@rblog) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :content, input_html: { class: 'form-control', rows: 15} %>
  </div>
  <div class="checkbox">
    <%= f.input :shared, as: :boolean, label: false, inline_label: "shared by #{ (!f.object.persisted? || current_user == @rblog.writer) ? "me (#{current_user.email})" : @rblog.email}"  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-default' %>
    <%= link_to 'Show', @rblog, class: 'btn btn-default' if action_name == 'edit' %>
    <%= link_to 'Back', rblogs_path, class: 'btn btn-default' %>

  </div>
<% end %>
