<div class='rblog <%= 'rblog_index' if action_name == 'index' %>'>

  <h2 class='title'>
    <%= awesome_icon_shared(rblog.shared) %>
    <%= action_name == 'index' ? link_to(truncate(rblog.title, length: 100), rblog) : rblog.title %>
    <small id="comment-count-of-rblog-<%= rblog.id %>" class="text-muted" title="댓글갯수" data-toggle='tooltip'>(<%= rblog.comments(true).size %>)</small>
  </h2>

  <div class='authored_by'>
    <%= authored_by rblog.writer, rblog.created_at %>
  </div>

  <div class='content'>
  <% if action_name == 'show' %>
    <div class='markdown-preview'>
      <%= rblog.content %>
    </div>
  <% else %>
    <%= truncate(Sanitize.clean(rblog.content, elements: %w(img table)), length: 200 )%>
    <%#= truncate(rblog.content, length: 200 )%>
  <% end %>
  </div>


  <div class="rblog-actions <%= "form-actions" if action_name == 'show' %>">
    <% if user_signed_in? %>
      <%= link_to t('form_actions.edit'), edit_rblog_path(rblog), class: 'btn btn-default' if current_user.can_update? rblog %>
      <%= link_to t('form_actions.delete'), rblog, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' if current_user.can_delete? rblog %>
    <% end %>
    <%= link_to t('form_actions.show'), rblog_path(rblog), class: 'btn btn-default' if action_name == 'index' %>
    <%= link_to t('form_actions.back'), rblogs_path, class: 'btn btn-default' if action_name == 'show' %>
  </div>
</div>

