<h2>
  <%= params[:whose] ? "My rBlogs" : "All Shared rBlogs" %>
  <small>
    <%#= "filtered by <strong style=color:red;>'<u>#{params[:search]}</u>'</strong>".html_safe if params[:search] %>
    <%#= "tagged with <span class='badge badge-secondary'>#{params[:tag]}</span>".html_safe if params[:tag] %>
    <%= params[:private] == '1' ? "<span class='badge badge-private'>private</span>".html_safe : (params[:whose] ? "<span class='badge badge-shared'>shared</span>".html_safe : "") %>
    <span title='글갯수' data-toggle='tooltip'>(<%= @rblogs.total_entries %>)</span>
    <%= link_to far_icon('remove-circle'), rblogs_path if params[:whose] || params[:search] || params[:tag] %>
  </small>
</h2>
<div id='rblogs' data-controller='endless'>
  <% if @rblogs.size > 0 %>
    <%= render @rblogs %>
  <% else %>
    No entries
  <% end %>
</div>

<%= will_paginate @rblogs %>