$("#article_<%= @article.id %>").after("<div id='edit_article_form_<%= @article.id %>'></div>");
$("#article_<%= @article.id %>").slideUp();
$("#edit_article_form_<%= @article.id %>").html("<%=j render 'articles/form' %>").slideDown();
