<%= simple_form_for(@newsletter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :greeting %>
    <%= f.input :published_at %>
    <%= f.association :editor %>
    <%= f.input :poster %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
