<p id="notice"><%= notice %></p>

<h1>Listing Newsletters</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Greeting</th>
      <th>Published at</th>
      <th>Editor</th>
      <th>Poster</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsletters.each do |newsletter| %>
      <tr>
        <td><%= newsletter.title %></td>
        <td><%= newsletter.greeting %></td>
        <td><%= newsletter.published_at %></td>
        <td><%= newsletter.editor %></td>
        <td><%= newsletter.poster %></td>
        <td><%= link_to 'Show', newsletter %></td>
        <td><%= link_to 'Edit', edit_newsletter_path(newsletter) %></td>
        <td><%= link_to 'Destroy', newsletter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newsletter', new_newsletter_path %>
