<h2 class='page_title'>뉴스레터 <small><%= action_name %> : 여러분이 함께 만들어가는 신개념의 뉴스레터</small></h2>

<div class="panel panel-default table-responsive">
  <table class='table table-bordered'>
      <thead>
          <tr>
              <th class='col-xs-6 text-center'><%= t("activerecord.attributes.newsletter.title") %></th>
              <th class='text-center'><%= t("activerecord.attributes.newsletter.published_at") %></th>
              <th class='text-center'>데이터작업</th>
          </tr>
      </thead>

      <tbody>
          <% @newsletters.each do |newsletter| %>
          <tr>
              <td><%= link_to newsletter.title, preview_newsletter_url(newsletter) %></td>
              <td class='text-center'><%= newsletter.published_at %></td>
              <td class='text-center'>
                <%= link_to icon_button('eye-open', :success), newsletter %>
                <% if user_signed_in? && current_user.can_update?(newsletter) %>
                  <%= link_to icon_button('edit', :info), edit_newsletter_path(newsletter) %>
                <% end %>
                <% if user_signed_in? && current_user.can_delete?(newsletter) %>
                  <%= link_to icon_button('trash', :danger), newsletter, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
          </tr>
          <% end %>
      </tbody>
  </table>
</div>

<% if user_signed_in? && current_user.can_create?(Newsletter) %>
  <div class="form-actions">
    <%= link_to awesome_icon_label('plus', '뉴스레터'), new_newsletter_path, class: 'btn btn-default' %>
    <%#= link_to awesome_icon_label('user-plus', '구독하기'), 'http://weekly.rorlab.org', target: '_blank', class: 'btn btn-warning' %>
  </div>
<% end %>
