<% if action_name == 'preview' %>
  <div class="fb-share-button pull-right" data-href="<%= preview_newsletter_url(@newsletter) %>" data-layout="button" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= preview_newsletter_url(@newsletter) %>"><%= awesome_icon_label('facebook-official fa-lg', "공유하기") %></a></div>
<% end %>

<div class="preview_title_box" style="background-image: url('<%= @newsletter.poster_url ||  image_url('newsletter_background.png') %>') !important;color:<%= @newsletter.title_color %> !important;">

  <h2 class='page_title text-center'><%= @newsletter.title %></h2>

  <div class="text-center">
    <small>
      발행일 : <%= @newsletter.published_at %> |
      발행처 : RORLAB http://rorlab.org |
      편집인 : <%= @newsletter.editor.email %>
    </small>
  </div>
</div>
<div style="border:1px solid #ccc;padding-top: 1em;">

  <div style="padding:1em 2em;line-height: 2em;text-indent: 15px;">
    <% link_filter = AutoHtml::Link.new(target: '_blank') %>
    <%= simple_format link_filter.call(@newsletter.greeting) %>
    <div class='text-right'>
      <%= image_tag "rorlab_emblem_gray_tone.png", width: "110px" %>
    </div>
  </div>

  <!-- 모든 섹션 보여주기 -->
  <%= preview_sections %>

</div>

<br />
<div class="text-center">
  <%= link_to "편집", newsletter_path(@newsletter), class: 'btn btn-default' if user_signed_in? %>
  <%= link_to t('form_actions.back'), newsletters_path, class: 'btn btn-default' %>
  <%= link_to awesome_icon_label( 'envelope-o', "자신에게 메일발송"), sendmail_newsletter_path(@newsletter, to: current_user.email ), remote: true, class: 'btn btn-success' if user_signed_in? %>
  <%= link_to awesome_icon_label( 'envelope-o', "구독자에게 발송하기"), sendmail_newsletter_path(@newsletter, to: 'newsletter_subscribers@rorlab.org'), remote: true, class: 'btn btn-primary' if user_signed_in? and current_user.has_role?(:admin) %>
</div>
