<h2 class='page_title'>뉴스레터 <small><%= action_name %></small></h2>

<table class="table">

  <tr>
    <th class='col-xs-2 text-right'><%= t("activerecord.attributes.newsletter.title") %></th>
    <td class='text-danger'><strong><%= @newsletter.title %></strong></td>
  </tr>

  <tr>
    <th class='text-right'><%= t("activerecord.attributes.newsletter.greeting") %></th>
    <td><%= simple_format @newsletter.greeting %></td>
  </tr>

  <!-- 행사안내  -->
  <tr>
    <th class="text-right">행사안내</th>
    <td class='section_articles'>
      <div id='section_articles_1'>
        <%= render @newsletter.articles.where( news_section_id: 1) %>
      </div>
      <% if user_signed_in? && current_user.can_create?(Article) %>
        <div class='add_article'>
          <%= link_to "추가", new_newsletter_article_path(@newsletter, news_section_id: 1), id: 'add_article_link_1', class: 'add_article_link btn btn-default btn-xs pull-right', remote: true %>
        </div>
        <div id='add_article_form_1'>
        </div>
      <% end %>

    </td>
  </tr>

  <!-- 읽을꺼리 -->
  <tr>
    <th class="text-right">읽을꺼리</th>
    <td class='section_articles'>
      <div id='section_articles_2'>
        <%= render @newsletter.articles.where( news_section_id: 2) %>
      </div>
      <% if user_signed_in? && current_user.can_create?(Article) %>
        <div class='add_article'>
          <%= link_to "추가", new_newsletter_article_path(@newsletter, news_section_id: 2), id: 'add_article_link_2', class: 'add_article_link btn btn-default btn-xs pull-right', remote: true %>
        </div>
        <div id='add_article_form_2'>
        </div>
      <% end %>
    </td>
  </tr>

  <!-- 볼꺼리 -->
  <tr>
    <th class="text-right">볼꺼리</th>
    <td class='section_articles'>
      <div id='section_articles_3'>
        <%= render @newsletter.articles.where( news_section_id: 3) %>
      </div>
      <% if user_signed_in? && current_user.can_create?(Article) %>
        <div class='add_article'>
          <%= link_to "추가", new_newsletter_article_path(@newsletter, news_section_id: 3), id: 'add_article_link_3', class: 'add_article_link btn btn-default btn-xs pull-right', remote: true %>
        </div>
        <div id='add_article_form_3'>
        </div>
      <% end %>
    </td>
  </tr>

  <!-- 신간소개 -->
  <tr>
    <th class="text-right">신간소개</th>
    <td class='section_articles'>
      <div id='section_articles_4'>
        <%= render @newsletter.articles.where( news_section_id: 4) %>
      </div>
      <% if user_signed_in? && current_user.can_create?(Article) %>
        <div class='add_article'>
          <%= link_to "추가", new_newsletter_article_path(@newsletter, news_section_id: 4), id: 'add_article_link_4', class: 'add_article_link btn btn-default btn-xs pull-right', remote: true %>
        </div>
        <div id='add_article_form_4'>
        </div>
      <% end %>
    </td>
  </tr>

  <!-- 채용공고 -->
  <tr>
    <th class="text-right">채용공고</th>
    <td class='section_articles'>
      <div id='section_articles_5'>
        <%= render @newsletter.articles.where( news_section_id: 5) %>
      </div>
      <% if user_signed_in? && current_user.can_create?(Article) %>
        <div class='add_article'>
          <%= link_to "추가", new_newsletter_article_path(@newsletter, news_section_id: 5), id: 'add_article_link_5', class: 'add_article_link btn btn-default btn-xs pull-right', remote: true %>
        </div>
        <div id='add_article_form_5'>
        </div>
      <% end %>
    </td>
  </tr>

  <!-- 업체홍보 -->
  <tr>
    <th class="text-right">업체홍보</th>
    <td class='section_articles'>
      <div id='section_articles_6'>
        <%= render @newsletter.articles.where( news_section_id: 6) %>
      </div>
      <% if user_signed_in? && current_user.can_create?(Article) %>
        <div class='add_article'>
          <%= link_to "추가", new_newsletter_article_path(@newsletter, news_section_id: 6), id: 'add_article_link_6', class: 'add_article_link btn btn-default btn-xs pull-right', remote: true %>
        </div>
        <div id='add_article_form_6'>
        </div>
      <% end %>
    </td>
  </tr>


  <tr>
    <th class='text-right'><%= t("activerecord.attributes.newsletter.published_at") %></th>
    <td><%= @newsletter.published_at %></td>
  </tr>

  <tr>
    <th class='text-right'><%= t("activerecord.attributes.newsletter.editor") %></th>
    <td><%= @newsletter.editor.email %></td>
  </tr>

  <tr>
    <th class='text-right'><%= t("activerecord.attributes.newsletter.poster") %></th>
    <td>
      <p><em class='text-muted'><%= @newsletter.poster.blank? ? "등록한 포스터 이미지가 없습니다." : @newsletter.poster %></em></p>
      <%= image_tag @newsletter.poster_url, width: '100%', style: 'border:1px solid #ccc;margintop:2em;border-radius:5px;' if @newsletter.poster_url.present? %>
    </td>
  </tr>
</table>

<div class="form-actions">
  <%= link_to t('form_actions.edit'), edit_newsletter_path(@newsletter), class: 'btn btn-default' if user_signed_in? %>
  <%= link_to t('form_actions.back'), newsletters_path, class: 'btn btn-default' %>
</div>
