<%= render "layouts/shared/preview", title: @schedule.name, attribute: :info %>

<%= simple_form_for(@schedule) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-sm-7">
      <%= f.input :name %>
      <%= f.input :info, :as => :pagedown, input_html: { rows: 17 } %>
    </div>
    <div class="col-sm-5">
      <%= f.input :venue %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <div class="row">
        <div class="col-xs-4">
          <%= f.input :repeating %>
        </div>
        <div class="col-xs-8">
          <%= f.input :charged %>
          <%= f.input :charge_amount %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
      <%= awesome_icon_label "save", "저장" %>
    <% end %>
    <%= link_to awesome_icon_label('eye','보기'), @schedule, class: 'btn btn-default' if @schedule.persisted? %>
    <%= link_to awesome_icon_label('calendar','RORLAB일정'), schedules_path, class: 'btn btn-default' %>
  </div>

<% end %>
