<div class="visible-xs spacer01"></div>
<div class="visible-sm spacer02"></div>
<div class="visible-md spacer04"></div>
<div class="visible-lg spacer05"></div>
<div class="jumbotron">
  <div class="container">
    <h2>RORLab에 오신 것을 환영합니다.</h2>
    <p>: Ruby on Rails Korean Study Group with free offline lectures</p>
    <hr style="border:1px solid #850000;">
      <% if user_signed_in? %>
        <p>Hello, <em><%= current_user.account_name.capitalize! %></em></p>
        <%= link_to icon_label("log-out", "로그아웃"), destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to icon_label("log-in","로그인"), new_user_session_path, class: 'btn btn-primary' %>
        <%= link_to awesome_icon_label("users","회원가입"), new_user_registration_path, class: 'btn btn-success' %>
      <% end %>
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="media">
		  <a class="pull-left" href="https://www.gitbook.io/book/rorlab/railsguidebook">
		    <img class="media-object" src="https://sm3lir.cloudimage.io/s/height/140/https://www.gitbook.io/cover/book/rorlab/railsguidebook?build=1410399248615" alt="Gitbook">
		  </a>
		  <div class="media-body">
		    <h4 class="media-heading">초보자를 위한 레일스 가이드북</h4>
		    Gitbook(온라인 전자책)으로 작성된 레일스 안내서로 ROR Lab.에서 공동집필로 작성되었습니다.<hr>
		    그 외에도 초보자를 위한 <a href='https://www.gitbook.io/book/luciuschoi/exploring_devise' target='_blank'>"Devise 젬 파헤치기"</a>, <a href='https://www.gitbook.io/book/luciuschoi/foundblog' target='_blank'>"FoundBlog 따라하기"</a> 등이 있습니다.
		  </div>
		</div>
	</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3">
        <%= link_to weeklynews_path do %>
          <%= image_tag "rorlab_weekly.png", class: 'img-responsive', alt: "RORLab 주간뉴스" %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-9">
        RORLab 주간뉴스는 매주 <strong>루비</strong>와 <strong>루비온레일스</strong>에 대한 정보를 전달합니다.
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="media">
		  <a class="pull-left" href="http://developer.naver.com/wiki/pages/Community">
		    <img class="media-object" src="http://rorlabpodcasts.github.io/images/naver_d2_banner_164.png" alt="NAVER D2 커뮤니티 지원">
		  </a>
		  <div class="media-body">
		    <h4 class="media-heading">NAVER D2의 지원을 받아 진행됩니다</h4>
		    본 RORLab은 <%= link_to 'NAVER D2 개발자 커뮤니티 지원 프로그램', 'http://developer.naver.com/wiki/pages/Community' %>에서 후원합니다.
		  </div>
		</div>
	</div>
</div>