<div class="visible-xs spacer01"></div>
<div class="visible-sm spacer02"></div>
<div class="visible-md spacer02"></div>
<div class="visible-lg spacer02"></div>

<!-- 일정 홍보 -->
<%#= render "layouts/shared/promo" %>

<div class="jumbotron">
  <div class="container">
    <h2>
      RORLAB에 오신 것을 환영합니다.<br />
      <small>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-danger btn-sm label label-danger">Ruby</button>
          <button type="button" class="btn btn-info btn-sm label label-secondary">v<%= RUBY_VERSION %></button>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-danger btn-sm label label-danger">Rails</button>
          <button type="button" class="btn btn-info btn-sm label label-secondary">v<%= Rails::VERSION::STRING %></button>
        </div>
      </small>
    </h2>
    <p>: Ruby on Rails Korean Study Group with Free Offline Lectures</p>
    <hr style="border:1px solid #850000;">
      <% if user_signed_in? %>
        <p>Hello, <em><%= current_user.account_name.capitalize! %></em></p>
        <%= link_to icon_label("log-out", "로그아웃"), destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to icon_label("log-in","로그인"), new_user_session_path, class: 'btn btn-primary' %>
        <%= link_to awesome_icon_label("users","회원가입"), new_user_registration_path, class: 'btn btn-success' %>
      <% end %>
      <%= link_to awesome_icon_label("search","용어집검색"), glossaries_path, class: 'btn btn-success pull-right' %>
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="media">
		  <a class="pull-left" href="http://www.gitbook.io/book/rorlab/railsguidebook">
        <%= image_tag 'rails_guide_cover.jpg', class: 'media-object', alt: 'Gitbook' %>
		  </a>
		  <div class="media-body">
		    <h4 class="media-heading">초보자를 위한 레일스 가이드북</h4>
		    Gitbook(온라인 전자책)으로 작성된 레일스 안내서로 ROR Lab.에서 공동집필로 작성되었습니다.<hr>
		    그 외에도 초보자를 위한 <a href='http://www.gitbook.io/book/luciuschoi/exploring_devise' target='_blank'>"Devise 젬 파헤치기"</a>, <a href='http://www.gitbook.io/book/luciuschoi/foundblog' target='_blank'>"FoundBlog 따라하기"</a> 등이 있습니다.
		  </div>
		</div>
	</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3">
        <%= link_to weeklynews_path do %>
          <%= image_tag "rorlab_weekly.png", class: 'img-responsive', alt: "RORLab 주간뉴스" %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-9">
        RORLab 주간뉴스는 매주 <strong>루비</strong>와 <strong>루비온레일스</strong>에 대한 정보를 전달합니다.
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <a class="pull-left" href="http://youtube.com/user/rorlabkr">
        <%= image_tag "youtube_channel.png", size: '107x140' %>
      </a>
      <div class="media-body">
        <h4 class="media-heading">RORLab. 강의동영상 모음 Youtube Channel</h4>
        현재까지 RORLab.에서 진행되었던 강의동영상과 관련 동영상을 유튜브 채널로 재구성하였습니다.<hr>
        <div class='row'>
          <div class='col-md-6'>
            <ul>
              <li><%= link_to '시즌 1, Rails Guide', 'http://www.youtube.com/playlist?list=PLfFG7L-h1FSpOG7duwhp4q9ThZEzELLZ5' %></li>
              <li><%= link_to '시즌 2, Rails Guide', 'http://www.youtube.com/playlist?list=PLfFG7L-h1FSpSXaU-r0UVhW1efcwZl1g-' %></li>
              <li><%= link_to '시즌 3, Rails Guide', 'http://www.youtube.com/playlist?list=PLfFG7L-h1FSpwVKSLYtOUriFa7L3mPs6t' %></li>
              <li><%= link_to '시즌 4, Rails Guide', 'http://www.youtube.com/playlist?list=PLfFG7L-h1FSrotpAplTzHMKh_LnuT5pGX' %></li>
            </ul>
          </div>
          <div class='col-md-6'>
            <ul>
              <li><%= link_to 'AGAIN2011', 'https://www.youtube.com/playlist?list=PLfFG7L-h1FSq5jhEsDgL9txyglgEZLltq' %></li>
              <li><%= link_to 'Digging Deeper (시즌 4)', 'http://www.youtube.com/playlist?list=PLfFG7L-h1FSpR6rjK-oFnRqOK00A-romg' %></li>
              <li><%= link_to 'Live Coding', 'http://www.youtube.com/playlist?list=PLfFG7L-h1FSrTRMJP-uEVesVIE75pv7d4' %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
    <p>
      <strong style='font-size:1.5em;vertical-align:middle;'>페이스북에서 실시간 방송하기 : </strong>
      <button id="liveButton" class='btn btn-primary btn-xs'>
        Start Live Stream
      </button>
    </p>
      <b>주의:</b> 사용하기 전에 데스크톱에 OBS(<%= link_to "Open Broadcaster Software", "https://obsproject.com/download#mac", target: '_blank' %>)를 설치해 두어야 합니다. 데스트톱 브라우저 상에서만 사용할 수 있으며, 스마트디바이스에서는 페이스북 자체 <code>라이브방송</code>을 사용하세요.<br  />
      <b>사용법:</b> <%= link_to "유투브동영상", "https://youtu.be/EB72C6CxiO0", target: '_blank' %><br />
      <b>참고:</b> <%= link_to '페이스북으로 데스크탑 라이브 스트리밍 하기',  'http://blog.appkr.kr/work-n-play/facebook-live-streaming/', target: '_blank' %>

  </div>
</div>

<script>
  // 페이스북 SDK 임포트 및 초기화
  // https://developers.facebook.com/docs/javascript/quickstart
  // 에서 최신 스크립트를 확인하고 사용하시길 권장한다.
  // window.fbAsyncInit = function() {
  //   FB.init({
  //     appId: <%= Rails.application.credentials.dig(:facebook, :live_stream_app_id) %>,
  //     xfbml: true,
  //     version: 'v2.5'
  //   });
  // };

  // (function(d, s, id){
  //   var js, fjs = d.getElementsByTagName(s)[0];
  //   if (d.getElementById(id)) {return;}
  //   js = d.createElement(s); js.id = id;
  //   js.src = "//connect.facebook.net/en_US/sdk.js";
  //   fjs.parentNode.insertBefore(js, fjs);
  // }(document, 'script', 'facebook-jssdk'));

  // 페이스북 라이브 스트리밍 스타터
  // https://developers.facebook.com/docs/videos/live-video-api#golivedialog
  // 에서 최신 스크립트를 확인하고 사용하시길 권장한다.
  document.getElementById('liveButton').onclick = function() {
    FB.ui({
      display: 'popup',
      method: 'live_broadcast',
      phase: 'create',
    }, function(response) {
      if (!response.id) {
        alert('dialog canceled');
        return;
      }
      alert('stream url:' + response.secure_stream_url);
      FB.ui({
        display: 'popup',
        method: 'live_broadcast',
        phase: 'publish',
        broadcast_data: response,
      }, function(response) {
        alert("video status: \n" + response.status);
      });
    });
  };
</script>
