<div class="plaza card">
  <div class="card-header">
    <%= yield_content! :plaza_category %>
    <%= yield_content! :plaza_updated %>
  </div>
  <div class="card-body">
    <%= yield_content! :plaza_content %>
  </div>
  <div class="card-footer d-flex">
    <div class="author">
      <%= yield_content! :plaza_author %>
    </div>
    <div class='actions ml-auto' style='display:none;'>
      <%= yield_content! :plaza_actions %>&nbsp;
    </div>
  </div>
</div>
