<% content_for :plaza_category do %>
  <%= icon_label('folder-open', "Q&A") %>
<% end %>

<% content_for :plaza_category do %>
  <%= t("updated_html",time_ago: resource.updated_at,  ago: time_ago_in_words(resource.updated_at)) %>
<% end %>


<% content_for :plaza_content do %>
  <div class='general'>
    <%= link_to resource, class:'plaza-item-title-hover' do %>
      <div class='title'><h4><%= resource.title %></h4></div>
      <div class='content'><%= truncate resource.content, length:100 %></div>
    <% end %>
  </div>
<% end %>

<% content_for :plaza_author do %>
  <%= copyright_with_tooltip(resource, resource.questioner) %>
  <%= render partial: 'plazas/templates/comment_count', locals: {resource: resource } %>
<% end %>

<% content_for :plaza_actions do %>
  <%= link_to icon_button('eye-open'), resource %>
  <% if user_signed_in? %>
    <%= link_to icon_button('edit'), url_for(controller: resource.class.to_s.pluralize.downcase, action: 'edit', id: resource) if current_user.can_update? resource%>
    <%= link_to icon_button('trash'), resource, method: :delete, data: { confirm: 'Are you sure?' } if current_user.can_delete? resource %>
  <% end %>
<% end %>
