<% content_for :plaza_category do %>
  <%= far_icon('folder-open', text: "rBlogs") %>
<% end %>
<% content_for :plaza_category do %>
  <%= t("updated_html", time_ago: resource.updated_at, ago: time_ago_in_words(resource.updated_at)) %>
<% end %>
<% content_for :plaza_content do %>
  <div class='general'>
    <%= link_to resource, class:'plaza-item-title-hover' do %>
      <div class='title'><h4><%= truncate(resource.title, length: 50) %></h4></div>
      <div class='content'><%= truncate resource.content, length:100 %></div>
    <% end %>
  </div>
<% end %>

<% content_for :plaza_author do %>
  <%= copyright_with_tooltip(resource, resource.writer.email) %>
  <%= comment_count(resource.comments.size) %>
  <%= hit_count(resource.impressionist_count) %>
<% end %>

<% content_for :plaza_actions do %>
  <%= link_to icon_button('eye'), resource, title: t('form_actions.show') , data:{toggle:'tooltip'}  %>
  <% if user_signed_in? %>
    <%= link_to icon_button('edit'), url_for(controller: resource.class.to_s.pluralize.downcase, action: 'edit', id: resource), title: t('form_actions.edit') , data:{toggle:'tooltip'}  if current_user.can_update? resource%>
    <%= link_to icon_button('trash'), resource, method: :delete, data: { confirm: 'Are you sure?', toggle:'tooltip' }, title: t('form_actions.delete') if current_user.can_delete? resource %>
  <% end %>
<% end %>
