<%= simple_form_for( @user_profile, url: user_profile_path ) do |f| %>
  <%= f.error_notification %>
<br />
<div class="row">
  <div class='col-sm-6'>
    <div class="form-group">
      <% if @user_profile.avatar?  %>
        <div class='img-rounded' style='border:1px solid #ccc;padding:0 0 0 10px;margin-bottom:10px;'>
          <%= image_tag current_user.user_profile.avatar.url(:thumb), size: '100x100', style:'margin: 1em auto;', class: 'img-responsive img-rounded' %>
          <%= f.input :remove_avatar, label: '프로필사진 삭제', as: :boolean %>
        </div>
      <% end %>
      <%= f.input :avatar, as: :file, placeholder: '프로필사진', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :name, placeholder: 'Real name', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :intro, placeholder: 'Self introduction', input_html: { class: 'form-control', rows: 5 } %>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class="form-group">
      <%= f.input :github, placeholder: 'Github account name', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :blog, placeholder: 'Blog URL... ex) http://...', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :website, placeholder: 'Website URL... ex) http://...', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :company, placeholder: 'Company name', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :title, placeholder: 'Job title', input_html: { class: 'form-control' } %>
    </div>
  </div>
</div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-default' %>
    <% if action_name == 'edit' %>
      <%= link_to '보기', user_profile_path, class: 'btn btn-default'  %> |
      <%= link_to '삭제', user_profile_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
    <% end %>
  </div>
<% end %>
