<div style="margin-top:1.5em;">
  <%= simple_form_for(@codebank) do |f| %>
    <%= f.error_notification %>

    <div class="form-group">
      <%= f.input :title, input_html: { class: 'form-control'} %>
    </div>
    <div class="form-group">
      <%= f.input :summary, input_html: { class: 'form-control'} %>
    </div>
    <div class="form-group">
      <%= f.input :snippet, input_html: { class: 'form-control codemirror'} %>
    </div>
    <div class="form-group">
      <%= f.input :tag_tokens, placeholder: '여러 개의 태그는 쉼표(,)로 구분하세요.',
          input_html: { data: { load: @codebank.tag_tokens }, class: 'form-control'} %>
    </div>
    <div class="checkbox">
      <%= f.input :shared, as: :boolean, label: false, inline_label: t('shared_by', who: (!f.object.persisted? || (current_user == @codebank.writer)) ? "본인:#{current_user.account_name}" : @codebank.writer.account_name ) %>
    </div>

    <div class="form-actions" style='margin-top: 2em;'>
      <%= f.button :submit, class: 'btn btn-default' %>
      <%= link_to t('form_actions.show'), @codebank, class: 'btn btn-default' if action_name == 'edit' %>
      <%= link_to t('form_actions.back'), codebanks_path, class: 'btn btn-default' %>
    </div>
  <% end %>
</div>