<!-- @codebank 인스턴스 객채 뷰 렌더링 -->
<div class='codebank'>

  <h2 class='title'><%= awesome_icon_shared_label @codebank.shared, @codebank.title %></h2>

  <div class='summary'>
    :
  <% if @codebank.summary.present? %>
    <%= @codebank.summary %>
  <% else %>
    <span class='text-muted'>no summary</span>
  <% end %>
  </div>

  <div class='code'><%= @codebank.snippet %></div>

  <div class='writer'>
    <%= copyright_with_tooltip @codebank, @codebank.writer.email %>
    <%= hit_count @codebank.impressionist_count %>
  </div>

  <div class='form-actions'>
    <%= link_to t('form_actions.edit'), edit_codebank_path(@codebank), class: 'btn btn-default' if user_signed_in? and current_user.can_update? @codebank %>
    <%= link_to t('form_actions.back'), codebanks_path, class: 'btn btn-default' %>
  </div>

</div>

<!-- 댓글 위젯 -->
<%= render partial: "comments/comments_widget", locals: { resource: @codebank} %>
