<%= simple_form_for [@schedule, @applier] do | f | %>
  <%= f.error_notification %>
  <ul>
  <% @applier.errors.messages.each do |message| %>
    <% if message[0] == :user_id %>
    <li><%= message[1][0]  %></li>
    <% end %>
  <% end %>
  </ul>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :cellphone %>
  <% if @schedule.charged %>
    <%= f.input :remittor %>
    <%= f.input :remit_date %>
    <%= f.input :remit_money %>
  <% end %>
  <%= f.input :memo, as: :text, input_html: { rows: 5 } %>

  <div class="alert alert-success">
    <%= awesome_icon("exclamation-triangle") %> 반드시 설문지를 충실히 작성해 주셔야 합니다. <%= link_to "설문지 작성하기", "http://goo.gl/forms/kjpdDM7y3yy83ayu2", target: '_blank', class: 'btn btn-success btn-xs' %>
  </div>

  <div class="form-actions">
    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
      <%= awesome_icon_label "save", "저장" %>
    <% end %>
    <%= link_to awesome_icon_label('list',"접수상황"), schedule_appliers_path(@schedule), class: 'btn btn-default' %>
  </div>
<% end %>
