<div class='favlink'>
  <div class='title'><h4><%= link_to fas_icon_shared_text(favlink.shared, favlink.title), favlink.linkurl, target: '_blank'%></h4></div>
  <div class='linkurl'><%= fas_icon('link', text: favlink.linkurl) %></div>
  <% if favlink.bundlelink %>
    <div class='bundle'><%= fas_icon('book', text: link_to(favlink.bundlelink.try(:title), bundlelink_favlinks_path(favlink.bundlelink))) %></div>
  <% end %>
  <div class='tags'>
    <%= icon_tags(favlink.tag_list, 'favlinks') %>
  </div>
  <div class='writer'>
    <%= far_icon('user', text: t('authored_html', who: account_with_tooltip(favlink.writer.email), ago: time_ago_in_words(favlink.created_at))) %>
    <%= comment_count(favlink.comments.size) %>
    <%= hit_count(favlink.impressionist_count) %>
  </div>
  <div class='actions'>
    <%= link_to icon_button('eye'), params[:bundlelink_id] ? [favlink.bundlelink, favlink] : favlink unless action_name == 'show' %>
    <%= link_to icon_button('edit'), params[:bundlelink_id] ? edit_bundlelink_favlink_path(favlink.bundlelink, favlink) :edit_favlink_path(favlink) %>
    <%= link_to icon_button('trash'), params[:bundlelink_id] ? [favlink.bundlelink, favlink] : favlink, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;
    <% if action_name == 'show' %>
      <div class="fb-share-button pull-right" data-href="<%= favlink_url(favlink) %>" data-layout="button" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= favlink_url(favlink) %>"><%= far_icon('facebook-official fa-lg', text: "공유하기") %></a></div>
    <% end %>
  </div>
  <% if action_name == 'show' %>
    <div class='capture_loc'>
    <% if favlink.with_screen_shot? %>
      <%= link_to image_tag(favlink.capture_image(action_name), width: '100%'), favlink.linkurl, class: "thumbnail"  %>
    <% else %>
      <div class="form-group">
        <div class='capture_loc'>
          <%= image_tag favlink.capture_loc_manual_url, class: 'shadow_image', width: '100%' if favlink.capture_loc_manual_url.present? %>
        </div>
      </div>
    <% end %>
    </div>
    <div class='description' style='margin-top: 1em;'><%= simple_format favlink.description %></div>
  <% else %>
    <!-- index 액션 뷰-->
    <div class='row'>
      <div class='col-md-4'>
        <div class='capture_loc'>
          <% if favlink.with_screen_shot? %>
            <%= link_to image_tag(favlink.capture_image(action_name)), favlink_path(favlink), class: "thumbnail" %>
          <% else %>
            <%= link_to image_tag(favlink.capture_loc_manual_url(:thumb)), favlink_path(favlink), class: "thumbnail"  %>
          <% end %>
        </div>
      </div>
      <div class='col-md-8'>
        <div class='description'><%= truncate favlink.description, length: 300 %></div>
      </div>
    </div>
  <% end %>
</div>
