<div class='favlink'>
  <div class='title'><h4><%= link_to awesome_icon_shared_label(favlink.shared, favlink.title), favlink.linkurl, target: '_blank', style:'display:block;' %></h4></div>
  <div class='linkurl'><%= icon_label('link', favlink.linkurl) %></div>
  <% if favlink.bundlelink %>
    <div class='bundle'><%= icon_label('book', link_to(favlink.bundlelink.try(:title), bundlelink_favlinks_path(favlink.bundlelink))) %></div>
  <% end %>
  <div class='tag'>
    <%= icon_tags(favlink.tag_list) %>
  </div>
  <div class='writer'>
    <%= icon_label('user', t('authored_html', who: favlink.writer.account_name, ago: time_ago_in_words(favlink.created_at))) %>
  </div>
  <div class='actions'>
    <%= link_to icon_button('eye-open'), params[:bundlelink_id] ? [favlink.bundlelink, favlink] : favlink unless action_name == 'show' %>
    <%= link_to icon_button('edit'), params[:bundlelink_id] ? edit_bundlelink_favlink_path(favlink.bundlelink, favlink) :edit_favlink_path(favlink) %>
    <%= link_to icon_button('trash'), params[:bundlelink_id] ? [favlink.bundlelink, favlink] : favlink, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% if action_name == 'show' %>
    <div class='capture_loc'>
    <%= link_to image_tag(favlink.capture_image(action_name), width: (action_name == 'show' ? '100%' : "")), favlink.linkurl, class: "thumbnail" if favlink.with_screen_shot %>
    </div>
    <div class='description' style='margin-top: 1em;'><%= simple_format favlink.description %></div>
  <% else %>
    <div class='row'>
      <% if favlink.with_screen_shot %>
        <div class='col-md-3'>
          <div class='capture_loc'>
          <%= link_to image_tag(favlink.capture_image(action_name), width: (action_name == 'show' ? '100%' : "")), favlink_path(favlink), class: "thumbnail" %>
          </div>
        </div>
        <div class='col-md-9'>
          <div class='description'><%= truncate favlink.description, length: 100 %></div>
        </div>
      <% else %>
        <div class='col-md-12'>
          <div class='description'><%= truncate favlink.description, length: 100 %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
