<%= simple_form_for(@bundlelink ? [@favlink.bundlelink, @favlink] : @favlink) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :bundlelink_id, include_blank: "Select a bundlelink. (it's optional)",  collection: Bundlelink.as_collection(current_user),  input_html: { class: 'form-control' }  %>
  </div>

  <div class="form-group">
    <%= f.input :linkurl, placeholder: 'http://', input_html: { class: 'form-control' } %>
  </div>

  <div>
    <%= f.label '화면캡쳐이미지' %>
  </div>

  <div class='row no-gutter border rounded p-2 mb-2'>
    <div class='col-5 col-sm-3'>
      <label for="favlink_with_screen_shot" class='mb-0'>
        <%= f.check_box :with_screen_shot, name: 'favlink[with_screen_shot]', id: 'favlink_with_screen_shot' %> 자동(링크주소)
      </label>
    </div>
    <div class='col-7 col-sm-9'>
      <%= f.file_field :capture_loc_manual %>
    </div>
  </div>

  <% if @favlink.persisted? && @favlink.with_screen_shot %>
    <div class="form-group">
    <%= link_to image_tag(@favlink.capture_image(action_name), width: (action_name == 'show' ? '100%' : ""), class: 'shadow_image'), @favlink.linkurl %>
    </div>
  <% else %>
    <% if @favlink.capture_loc_manual_url.present? %>
      <div class="form-group">
        <div class='capture_loc'>
          <%= image_tag @favlink.capture_loc_manual_url, class: 'shadow_image mb-2', width: '100%' %>
          <label for="favlink_remove_capture_loc_manual" class='mb-0'>
            <%= f.check_box :remove_capture_loc_manual, name: 'favlink[remove_capture_loc_manual]', id: 'favlink_remove_capture_loc_manual' %> 이미지삭제
          </label>          
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control', rows: 10 } %>
  </div>
  <div class="form-group" data-controller='tokeninput'>
    <%= f.input :tag_tokens, placeholder: '여러 개의 태그는 쉼표(,)로 구분하세요.',
        input_html: { data: { load: @favlink.tag_tokens, toggle: 'tokeninput' }, class: 'form-control'} %>
  </div>
  <div class="checkbox">
    <%= f.input :shared, as: :boolean, inline_label: "공유", label: false %>
  </div>

  <%= button_tag f, type: 'submit', class: 'btn btn-primary' do %>
    <%= fas_icon_text 'save', 'Save' %>
  <% end %>
  <%= link_to fas_icon_text('eye', t('form_actions.show')), @favlink, class: 'btn btn-outline-primary' if @favlink.persisted? %>
  <%= link_to fas_icon_text('list', t('form_actions.back')), favlinks_path, class: 'btn btn-outline-primary' %>
  
<% end %>
