<h2>
  <%= params[:whose] ? "My Favlinks" : "All Favlinks" %>
  <small>
    <%= "of #{@bundlelink.title}" if params[:bundlelink_id] %>
    <%= "filtered by <strong style=color:red;>'<u>#{params[:search]}</u>'</strong>".html_safe if params[:search] %>
    <%= "tagged with <span class='badge badge-default'>#{params[:tag]}</span>".html_safe if params[:tag] %>
    (<%= @favlinks.total_entries %>)
    <%= link_to icon('remove-circle'), favlinks_path if params[:bundlelink_id] || params[:search] || params[:tag] %>
  </small>
</h2>

<div id='favlinks'>
  <%= render partial: 'favlink_for_index', as: :favlink, collection: @favlinks %>
</div>

<div id="last_page"></div>
<%= will_paginate @favlinks %>
<%= pageless(@favlinks.total_pages, url_for, '#favlinks') %>
