<h2>
  <%= params[:whose] ? "My Favlinks" : "All Favlinks" %>
  <small>
    <%= "of #{@bundlelink.title}" if params[:bundlelink_id] %>
    (<%= @favlinks.total_entries %>)
    <%= link_to icon('remove-circle'), favlinks_path if params[:bundlelink_id] %>
  </small>
</h2>

<div id='favlinks'>
  <%= render @favlinks %>
</div>

<div id="last_page"></div>
<%= will_paginate @favlinks %>
<%= pageless(@favlinks.total_pages, favlinks_path, '#favlinks') %>
