<%= simple_form_for(@group_purchase) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.input :event_name, label: '행사명', input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <%= f.input :start_date, label: '개시일시', placeholder: 'yyyy-mm-dd', as: :string, input_html: { class: 'form-control' } %>
          </div>
          <div class="col-md-6">
            <%= f.input :end_date, label: '종료일시', placeholder: 'yyyy-mm-dd', as: :string, input_html: { class: 'form-control' } %>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.input :event_info, label: '안내문', input_html: { class: 'form-control', rows: 10 } %>
      </div>

    </div>
  </div>

  <div class="form-actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <%= far_icon("plus", text: '등록') %>
    <% end %>      
    <%= link_to far_icon('eye', text: '보기'), @group_purchase, class: 'btn btn-secondary' if @group_purchase.persisted? %>
    <%= link_to fas_icon('list', text: '행사목록'), group_purchases_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
