<p id="notice"><%= notice %></p>

<h1>Listing Group Purchases</h1>

<table>
  <thead>
    <tr>
      <th>Event name</th>
      <th>Event info</th>
      <th>Start date</th>
      <th>End date</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_purchases.each do |group_purchase| %>
      <tr>
        <td><%= group_purchase.event_name %></td>
        <td><%= group_purchase.event_info %></td>
        <td><%= group_purchase.start_date %></td>
        <td><%= group_purchase.end_date %></td>
        <td><%= group_purchase.user %></td>
        <td><%= link_to 'Show', group_purchase %></td>
        <td><%= link_to 'Edit', edit_group_purchase_path(group_purchase) %></td>
        <td><%= link_to 'Destroy', group_purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group purchase', new_group_purchase_path %>
