<h1>공동구매 행사</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th class='text-center'>행사명</th>
      <th class='text-center'>시작일시</th>
      <th class='text-center'>종료일시</th>
      <th class='text-center'>데이터작업</th>
    </tr>
  </thead>

  <tbody>
    <% @group_purchases.each do |group_purchase| %>
      <tr>
        <td><%= link_to group_purchase.event_name, group_purchase_purchase_requests_path(group_purchase) %></td>
        <td class='text-center'><%= group_purchase.start_date %></td>
        <td class='text-center'><%= group_purchase.end_date %></td>
        <td class='text-center'>
          <%= link_to icon_button('eye-open'), group_purchase %>
          <%= link_to icon_button('edit'), edit_group_purchase_path(group_purchase) if current_user.can_update? group_purchase %>
          <%= link_to icon_button('trash'), group_purchase, method: :delete, data: { confirm: 'Are you sure?' } if current_user.can_delete? group_purchase %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '행사등록', new_group_purchase_path, class: 'btn btn-primary' if user_signed_in? && current_user.can_create?(GroupPurchase)%>
