<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :summary, input_html: { class: 'form-control', rows: 10 } %>
  </div>

  <div class="form-actions">
    <%= button_tag type: :button, class: 'btn btn-primary' do %>
      <%= fas_icon('save', text: "등록") %>
    <% end %>
    <%= link_to fas_icon('eye', text: '보기'), course_lectures_path(@course), class: 'btn btn-outline-secondary' if @course.persisted? %>
    <%= link_to fas_icon('list', text: '강좌목록'), courses_path, class: 'btn btn-outline-secondary' %>
    <span class='ml-2'>
      <%= f.check_box :published %>
      <%= f.label :published %>
    </span>
  </div>
<% end %>
