
<h2>레일스 강좌</h2>

<div class="card table-responsive">
  <table class='table table-bordered mb-0'>
    <thead>
      <tr>
        <th class='text-center'>제목</th>
        <th class='text-center'>강사</th>
        <th class='text-center'>데이터작업</th>
      </tr>
    </thead>

    <tbody>
      <% if @my_courses.size > 0 %>
        <tr><td colspan='3'><h4>나의 개설강좌</h4></td></tr>
        <% @my_courses.each do | my_course | %>
        <tr>
          <td colspan='2'>
            <ul style='margin-bottom:0;'>
                <li>
                  <%= link_to my_course.title, course_lectures_path(my_course) %>
                </li>
            </ul>
          </td>
          <td class='text-center'>
            <%= link_to (my_course.published ? icon_button('share', kind: 'success') : icon_button('lock', kind: 'danger') ), edit_course_path(my_course)  %>
            <% if current_user.can_update?(my_course) %>
            <%= link_to icon_button('edit'), edit_course_path(my_course) %>
            <%= link_to icon_button('trash', kind: :danger), my_course, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>

          </td>
        </tr>
        <% end %>
      <% end %>
      <tr><td colspan='3'><h4>공개강좌</h4></td></tr>
      <% @courses.each do |course| %>
        <tr>
          <td><%= link_to course.title, course_lectures_path(course) %></td>
          <td><%= course.tutor.email %></td>
          <td class='text-center'>
            <% if user_signed_in? %>
              <%= link_to icon_button('eye'), course %>
              <% if current_user.can_update?(course) %>
                <%= link_to icon_button('edit'), edit_course_path(course) %>
                <%= link_to icon_button('trash', 'danger'), course, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            <% else %>
              <%= link_to fas_icon('eye'), course_lectures_path(course) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="form-actions">
    <%= link_to fas_icon('plus', text: '강좌개설'), new_course_path, class: 'btn btn-primary' %>

</div>
