<h2 class='lecture_show_title'>
  <%= @course.title %>
</h2>

<div class='lecture_show_summary'>
  <%= simple_format @course.summary %>
</div>

<p class='text-right'>
  <strong>강사:</strong>
  <%= @course.tutor.email %>
</p>

<div class="form-actions">
  <%= link_to "수정", edit_course_path(@course), class: 'btn btn-default' %>
  <%= link_to "삭제", @course, class: 'btn btn-danger' if user_signed_in? && current_user.can_delete?(@course) %> | 
  <%= link_to "강좌목록", courses_path, class: 'btn btn-default' %>

</div>
