<script src="/assets/tui-editor/dist/tui-editor-Editor.min"></script>
<script src="/assets/tui-editor/dist/tui-editor-extScrollSync.min"></script>

<%= render "layouts/shared/preview", title: @post.title, attribute: :content %>

<%= simple_form_for([@post.bulletin, @post]) do |f| %>
  <%#= f.error_notification %>
  <%= alert_box_multiple('danger', "문제가 발생했습니다:", f.object.errors.messages) if @post.errors.size > 0 %>

  <div class="form-group">
    <%= f.input :title, input_html:{ class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :content, input_html: { data:{ editor: 'tui-editor'} }%>
  </div>
  <%= image_tag(@post.picture_url, style:'max-width:100%;') if @post.picture? %>
  <% if @post.bulletin.post_type == "gallery" %>
    <div class="form-group">
      <%= f.input :picture, as: :file, input_html:{ class: 'form-control' } %>
      <%= f.hidden_field :picture_cache %>
    </div>
  <% end %>

  <div class='checkbox'>
    <%= f.input :published, label: false, inline_label: true %>
  </div>

  <div class='form-actions'>
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to t('form_actions.show'), [@post.bulletin, @post], class: 'btn btn-outline-primary' if @post.persisted? %>
    <%= link_to t('form_actions.back'), bulletin_posts_path, class: 'btn btn-outline-primary' %>
  </div>
<% end %>
