<h2><%= params[:bulletin_id] %></h2>

<table class='table'>
<tr>
  <th class='col-sm-2 col-xs-3'><%=t('activerecord.attributes.post.title')%></th>
  <td><%= @post.title %></td>
</tr>
<tr>
  <th><%=t('activerecord.attributes.post.content')%></th>
  <td><%= simple_format @post.content %></td>
</tr>
<tr>
  <th><%=t('activerecord.attributes.post.writer')%></th>
  <td>
    <%= account_with_tooltip @post.writer.email %>
    <%= hit_count(@post.impressionist_count) %>
  </td>
</tr>
<tr>
  <th><%=t('activerecord.attributes.post.created_at')%></th>
  <td><%= @post.created_at %></td>
</tr>
<% if @post.bulletin.post_type == "gallery" %>
  <tr>
    <th><%=t('activerecord.attributes.post.picture')%></th>
    <td><%= image_tag @post.picture_url, fingerprinting: false, style: 'max-width:100%' %></td>
  </tr>
<% end %>
<tr>
  <th><%=t('activerecord.attributes.post.published')%></th>
  <td><%= icon_shared @post.published %></td>
</tr>
</table>

<hr>

<%= link_to t('form_actions.edit'), edit_bulletin_post_path(@post.bulletin, @post), class: 'btn btn-default' %>
<%= link_to t('form_actions.back'), bulletin_posts_path, class: 'btn btn-default' %>
