<script src="/assets/tui-editor/dist/tui-editor-Viewer.min"></script>

<h2><%= params[:bulletin_id] %></h2>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th scope='col'><%=t('activerecord.attributes.post.title')%></th>
      <td scope='col' class='text-danger'><strong><%= @post.title %></strong></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope='row'><%=t('activerecord.attributes.post.content')%></th>
      <td>
        <div data-viewer='tui-viewer'><%= @post.content %></div>
      </td>
    </tr>
    <tr>
      <th scope='row'><%=t('activerecord.attributes.post.writer')%></th>
      <td>
        <%= account_with_tooltip @post.writer.email %>
        <%= hit_count(@post.impressionist_count) %>
      </td>
    </tr>
    <tr>
      <th scope='row'><%=t('activerecord.attributes.post.created_at')%></th>
      <td><%= @post.created_at %></td>
    </tr>
    <% if @post.bulletin.post_type == "gallery" %>
      <tr>
        <th scope='row'><%=t('activerecord.attributes.post.picture')%></th>
        <td><%= image_tag @post.picture_url, style: 'max-width:100%' %></td>
      </tr>
    <% end %>
    <tr>
      <th scope='row'><%=t('activerecord.attributes.post.published')%></th>
      <td><%= icon_shared @post.published %></td>
    </tr>
  </tbody>
</table>

<hr>

<%= link_to t('form_actions.edit'), edit_bulletin_post_path(@post.bulletin, @post), class: 'btn btn-outline-primary' %>
<%= link_to t('form_actions.back'), bulletin_posts_path, class: 'btn btn-outline-primary' %>
