<%= render partial: "posts/post_types/bulletin_title" %>

<div id='posts'>
<% @posts.each do | post | %>
    <div class='post'>
      <div class='title'>
        <h4>
          <%= post.title %>
          <small>
            <%= copyright_with_tooltip(post,  post.writer.email) %>
            <%= hit_count(post.impressionist_count) %>
          </small>
        </h4>
      </div>
      <div class='content'>
        <%= truncate post.content, length: 100 %>
      </div>
      <div class='actions'>
        <%= link_to t('form_actions.show'), [post.bulletin, post], class:'btn btn-sm btn-default' %>
        <% if user_signed_in? %>
        <%= link_to t('form_actions.edit'), edit_bulletin_post_path(post.bulletin, post), class:'btn btn-sm btn-default' if current_user.can_update? post %>
        <%= link_to t('form_actions.delete'), [post.bulletin, post], method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-danger' if current_user.can_delete? post %>
        <% end %>
      </div>
    </div>
<% end %>
</div>

<center>
  <%= will_paginate @posts %>
</center>
