<%= render partial: "posts/post_types/bulletin_title" %>

<div id="posts" class='mt-4'>
  <% @posts.each do | post | %>
    <div class="media mb-2">
      <%#= link_to(image_tag(post.picture_url(:thumb), class:"media-object", style:'width:5em;'),[post.bulletin, post], class:'pull-left') if post.picture? %>
      <%= image_tag post.picture_url(:thumb), style: 'width: 10rem;', class: 'mr-3' if post.picture? %>
      <div class="media-body">
        <h5 class="mt-0"><strong><%= post.title %></strong></h5>
        <div class="media-content"><%= truncate post.content, length: 300 %></div>
        <%= copyright_with_tooltip post, post.writer.email %>
        <%= hit_count(post.impressionist_count) %>
        <span>
        <%= link_to icon_button('eye'), [post.bulletin, post], title: t('form_actions.show') , data:{toggle:'tooltip'}  %>
        <% if user_signed_in? %>
          <%= link_to icon_button('edit'), edit_bulletin_post_path(post.bulletin, post), title: t('form_actions.edit') , data:{toggle:'tooltip'}  if current_user.can_update? post %>
          <%= link_to icon_button('trash'), [post.bulletin, post], method: :delete, data: { confirm: 'Are you sure?', toggle:'tooltip' }, title: t('form_actions.delete') if current_user.can_delete? post %>
        <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>

<center>
  <%= will_paginate @posts %>
</center>
