<%= render partial: "posts/post_types/bulletin_title" %>

<div id="posts" class='media-list'>
  <% @posts.each do | post | %>
    <div class="media">
      <%= link_to(image_tag(post.picture_url(:thumb), class:"media-object", style:'width:5em;'),[post.bulletin, post], class:'pull-left') if post.picture? %>
      <div class="media-body">
        <h4 class="media-heading"><%= post.title %></h4>
        <div class="media-content"><%= truncate post.content %></div>
        <%= copyright_with_tooltip post, post.writer.email %>
        <%= hit_count(post.impressionist_count) %>
      </div>
    </div>
  <% end %>
</div>

<center>
  <%= will_paginate @posts %>
</center>
