<%= render partial: "posts/post_types/bulletin_title" %>

<table class='table'>
  <thead>
  <tr>
    <th class="col-sm-7 col-8"><%=t('activerecord.attributes.post.title')%></th>
	  <th class="col-sm-3 col-4"><%=t('activerecord.attributes.post.created_at')%></th>
    <th class="col-sm-2 d-none d-sm-block"><%=t('activerecord.attributes.post.data_actions')%></th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, [post.bulletin, post] %></td>
	      <td class="d-none d-sm-block"><%= post.created_at.strftime('%Y-%m-%d %l:%M:%S%P') %></td>
	      <td class="d-block d-sm-none"><%= post.created_at.strftime('%Y-%m-%d') %></td>
        <td class="d-none d-sm-block">
          <%= link_to icon_button('eye-open'), [post.bulletin, post], title: t('form_actions.show') , data:{toggle:'tooltip'}  %>
          <% if user_signed_in? %>
            <%= link_to icon_button('edit'), edit_bulletin_post_path(post.bulletin, post), title: t('form_actions.edit') , data:{toggle:'tooltip'}  if current_user.can_update? post %>
            <%= link_to icon_button('trash'), [post.bulletin, post], method: :delete, data: { confirm: 'Are you sure?', toggle:'tooltip' }, title: t('form_actions.delete') if current_user.can_delete? post %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<center>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</center>
