<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, label: '제품명', input_html: { class: 'form-control' } %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.input :unit_price, label: '단가', input_html: { class: 'form-control' } %>
      </div>

    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.input :total_stock_count, label: "총구매량", input_html: { class: 'form-control' } %>
      </div>
      
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-default' %>
    <%= link_to '보기', @product, class: 'btn btn-default' if @product.persisted? %> |
    <%= link_to '제품목록', products_path, class: 'btn btn-default' %>
  </div>
<% end %>
