<h1>제품목록</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th class='text-center'>제품명</th>
      <th class='text-center'>단가</th>
      <th class='text-center'>총구매량</th>
      <th class='text-center'>완판</th>
      <th class='text-center'>데이터작업</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td class='text-center'><%= product.unit_price %></td>
        <td class='text-center'><%= product.total_stock_count %></td>
        <td class='text-center'><%= product.sold_out %></td>
        <td class='text-center'>
          <%= link_to icon_button('eye-open'), product %>
          <%= link_to icon_button('edit'), edit_product_path(product) %>
          <%= link_to icon_button('trash'), product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to '제품등록', new_product_path, class: 'btn btn-primary' %> |
  <%= link_to '이벤트목록', group_purchases_path, class: 'btn btn-primary' %>

</div>
