<h2>
  Podcasts
  <% if user_signed_in? && current_user.has_role?(:admin) %>
    <%= link_to '최신 데이터 수집', podcasts_grap_path, remote: true, class: 'btn btn-default' %>
  <% end %>
</h2>

<table class='table'>
  <thead>
    <tr>
      <th class="col-md-9">Title</th>
      <th class="col-md-2">Published at</th>
      <th class="col-md-1">Author</th>
    </tr>
  </thead>

  <tbody>
  <% @podcasts.each do |podcast| %>
      <tr>
        <td>
          <%= link_to podcast.title, podcast_path(podcast) %>
          <%= comment_count(podcast.comments.size) %>
          <%= hit_count(podcast.impressionist_count) %>
        </td>
        <td><%= podcast.published_at.strftime('%Y-%m-%d(%a)') %></td>
        <td><%= podcast.author %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<center>
  <%= will_paginate @podcasts %>
</center>
