<h2>Podcasts</h2>

<table class='table'>
  <tr>
    <th>Title</th>
    <td><%= @podcast.title %> <small class='text-muted' title='댓글갯수' data-toggle='tooltip'><%= @podcast.comments(true).size %></small></td>
  </tr>
  <tr>
    <th>Author</th>
    <td><%= icon_label('user', @podcast.author) %>
        <%= hit_count(@podcast.impressionist_count) %>
    </td>
  </tr>
  <tr>
    <th>Content</th>
    <td>
      <iframe id="podcast-video" src="<%= @podcast.enclosure_url.gsub('/download', '/embed') %>" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
      <%= raw @podcast.description %>
    </td>
  </tr>
  <tr>
    <th>Published at</th>
    <td><%= @podcast.published_at %></td>
  </tr>
</table>

<div class="form-actions">
<%= link_to t('form_actions.back'), podcasts_path, class: 'btn btn-default' %>
</div>

<!-- 댓글 위젯 -->
<%= render partial: "comments/comments_widget", locals: { resource: @podcast} %>
