<div class="visible-xs spacer01"></div>
<div class="visible-sm spacer02"></div>
<div class="visible-md spacer04"></div>
<div class="visible-lg spacer05"></div>
<div class='jumbotron'>
  <h2 style="color:#800000;">Contributors^^</h2>
  <hr>
  <p>ROR Lab.은 여러 분의 헌신적인 참여로 운영됩니다.</p>
</div>
<div class="visible-xs spacer01"></div>
<div class="visible-sm spacer02"></div>
<div class="visible-md spacer04"></div>
<div class="visible-lg spacer05"></div>

<div class="row">
  <div class="col-sm-4"><div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">운영자</h3></div>
    <div class="panel-body"><%= image_tag 'contributors/generic-user.png', style:'width:100px;border-radius:50px;box-shadow:3px;', class:'shadow' %> 기여자 성함</div>
  </div></div>
  <div class="col-sm-4"><div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">강사1</h3></div>
    <div class="panel-body"><%= image_tag 'contributors/generic-user.png', style:'width:100px;border-radius:50px;box-shadow:3px;', class:'shadow' %> 기여자 성함</div>
  </div></div>
  <div class="col-sm-4"><div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">강사2</h3></div>
    <div class="panel-body"><%= image_tag 'contributors/generic-user.png', style:'width:100px;border-radius:50px;box-shadow:3px;', class:'shadow' %> 기여자 성함</div>
  </div></div>
</div>

<div class="row">
  <div class="col-sm-4"><div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">강사3</h3></div>
    <div class="panel-body"><%= image_tag 'contributors/generic-user.png', style:'width:100px;border-radius:50px;box-shadow:3px;', class:'shadow' %> 기여자 성함</div>
  </div></div>
  <div class="col-sm-4"><div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">강사4</h3></div>
    <div class="panel-body"><%= image_tag 'contributors/generic-user.png', style:'width:100px;border-radius:50px;box-shadow:3px;', class:'shadow' %> 기여자 성함</div>
  </div></div>
  <div class="col-sm-4"><div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">강사5</h3></div>
    <div class="panel-body"><%= image_tag 'contributors/generic-user.png', style:'width:100px;border-radius:50px;box-shadow:3px;', class:'shadow' %> 기여자 성함</div>
  </div></div>
</div>