<div class="visible-xs spacer01"></div>
<div class="visible-sm spacer02"></div>
<div class="visible-md spacer04"></div>
<div class="visible-lg spacer05"></div>
<div class='jumbotron'>
  <h2 style="color:#800000;">Contributors^^</h2>
  <hr>
  <p>ROR Lab.은 여러 분의 헌신적인 참여로 운영됩니다.</p>
</div>
<div class="visible-xs spacer01"></div>
<div class="visible-sm spacer02"></div>
<div class="visible-md spacer04"></div>
<div class="visible-lg spacer02"></div>

<div class="row">
  <%= profile "info", "운영자", "홍길동" %>
  <%= profile "default", "강사1", "김철수" %>
  <%= profile "default", "강사2", "최고봉" %>
</div>

<div class="row">
  <%= profile "default", "강사3", "정직함" %>
  <%= profile "default", "강사4", "박치기" %>
  <%= profile "default", "강사5", "이기자" %>
</div>
