<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>RORLa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">RORLa</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li <%= active_menu('welcome') %>><%= link_to "Home", root_path %></li>
          <li <%= active_menu('plazas') %>><%= link_to "Plaza", plazas_path %></li>
          <li class='dropdown'>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Bulletins
                <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
              <li class="<%= params[:bulletin_id] == '공지사항' ? 'active' : '' %>"><%= link_to '공지사항', bulletin_posts_path(1) %></li>
              <li class="<%= params[:bulletin_id] == '새소식' ? 'active' : '' %>"><%= link_to '새소식', bulletin_posts_path('새소식') %></li>
              <li class="<%= params[:bulletin_id] == '가입인사' ? 'active' : '' %>"><%= link_to '가입인사', bulletin_posts_path('가입인사') %></li>
              <li class="<%= params[:bulletin_id] == '갤러리' ? 'active' : '' %>"><%= link_to '갤러리', bulletin_posts_path('갤러리') %></li>
              <li ><%= link_to 'Q&A', questions_path('Q&A') %></li>
            </ul>
          </li>
          <li <%= active_menu('favlinks') %>><%= link_to "Favlinks", favlinks_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.email %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Profile", edit_user_registration_path %></li>
                <li><%= link_to "Roles : " + user_roles(current_user), '#' %></li>
              </ul>
            </li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in
               <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "with RORLa", new_user_session_path %></li>
              </ul>
            </li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">

    <%= render partial: "shared/flash_messages", flash: flash %>

    <%= content_for?(:devise) ? yield(:devise) : yield(:general) %>

  </div> <!-- /container -->

  <div class="navbar-fixed-bottom">
    <div id='footer'>
        Copyright<sup>&reg;</sup> <%= Time.new.year %>, RORLa Project, ROR Lab., All rights reserved.
    </div>
  </div>

</body>
</html>
