<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>RORLa</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag 'logo.png' %></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="<%= active_menu('welcome') %>"><%= link_to "Home", root_path %></li>
          <li class="<%= active_menu('plazas') %>"><%= link_to "Plaza", plazas_path %></li>
          <li class='dropdown <%= active_menu('posts', 'questions') %>'>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Bulletins
                <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
              <% %w(공지사항 새소식 가입인사 갤러리).each do |bulletin| %>
                <li class="<%= params[:bulletin_id] == bulletin ? 'active' : '' %>">
                  <%= link_to bulletin, bulletin_posts_path(bulletin) %>
                </li>
              <% end %>
              <li class="<%= active_menu('questions') %>"><%= link_to 'Q&A', questions_path %></li>
            </ul>
          </li>
          <li class="<%= active_menu('favlinks') %>"><%= link_to "Favlinks", favlinks_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown <%= 'active' if devise_controller? %>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.email %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="<%= active_menu('registrations') %>"><%= link_to "My Profile", edit_user_registration_path %></li>
                <li><%= link_to "Roles : " + user_roles(current_user), '#' %></li>
              </ul>
            </li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in
               <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "with RORLa", new_user_session_path %></li>
              </ul>
            </li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">

    <%= render partial: "shared/flash_messages", flash: flash %>

    <%= content_for?(:devise) ? yield(:devise) : yield(:general) %>

  </div> <!-- /container -->

  <div class="navbar-fixed-bottom">
    <div id='footer'>
        Copyright<sup>&reg;</sup> <%= Time.new.year %>, RORLa Project, ROR Lab., All rights reserved.
    </div>
  </div>

</body>
</html>
